.white{
    color: #ffffff;
}

.white:hover{
    color: #cdbcf3;

}
.bac-color{
    background-color: #563d7c;
}

.btn-link{
    color: #cdbcf3;
}

.btn-link:hover, .btn-link:focus, .btn-link:active{
    color: #ffffff;
}

.main {
    height: 80%;
    position: relative;
}

.top,.bottom{
    height: 10%;
    position: relative;
}